<H1> Data Preprocessing</H1>

In [1]:
# coding=utf-8
import matplotlib
matplotlib.use('TkAgg')
import matplotlib.pyplot as plt
import pandas as pd
import datetime
import numpy as np
from IPython.display import display, HTML

HTML("""
<style>

div.cell { /* Tunes the space between cells */
margin-top:0.5em;
margin-bottom:0.5em;
}

div.text_cell_render h1 { /* Main titles bigger, centered */
font-size: 2.0em;
line-height:1.4em;
text-align:center;
}

div.text_cell_render h2 { /*  Parts names nearer from text */
margin-bottom: -0.4em;
}


div.text_cell_render { /* Customize text cells */
font-family: "Times New Roman", Times, serif;
font-size:1.3em;
line-height:1.5em;
padding-left:1em;
padding-right:1em;
}
</style>
""")

In [2]:
data_type = {"sexo": str,
             "ind_nuevo": str,
             "ult_fec_cli_1t": str,
             "indext": str}

In [3]:
# Read cleaned data file
df = pd.read_csv("train_cleaned.csv", dtype=data_type)

/Users/amitrajan/Desktop/PythonVirtualEnvs/MLProject/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,13,20,21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
pd.set_option('display.max_columns', None)
df.head()

,Unnamed: 0,index,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,month
0,3193878,515488,2015-01-28,816978,N,ES,V,55,2008-11-14,0,80,1.0,UNKWN,1,A,S,N,UNKWN,KFF,N,1,39,CANTABRIA,1,67804.53,02 - PARTICULARES,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1
1,11981689,461199,2015-01-28,154073,N,ES,V,50,1999-12-24,0,187,1.0,UNKWN,1,A,S,N,UNKWN,KAY,N,1,43,TARRAGONA,0,109185.81,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1
2,3521925,483294,2015-01-28,739359,N,ES,H,48,2007-12-28,0,91,1.0,UNKWN,1,A,S,N,UNKWN,KFC,N,1,14,CORDOBA,1,101850.00,01 - TOP,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0.0,0.0,0,1
3,8480398,563229,2015-01-28,482251,N,ES,V,23,2004-07-06,0,132,1.0,UNKWN,1,A,S,N,UNKWN,KFC,N,1,28,MADRID,1,131938.74,02 - PARTICULARES,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1
4,3521923,107657,2015-01-28,922105,N,ES,H,24,2011-07-27,0,48,1.0,UNKWN,1,A,S,N,UNKWN,KHE,N,1,14,CORDOBA,1,41739.18,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1

In [5]:
display(df.loc[df['ncodpers'] == 1375586])

,Unnamed: 0,index,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,month
277540,9662455,0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0,6,1.0,UNKWN,1,A,S,N,UNKWN,KHL,N,1,29,MALAGA,1,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1
1140305,9503119,1047196,2015-02-28,1375586,N,ES,H,35,2015-01-12,0,6,1.0,UNKWN,1,A,S,N,UNKWN,KHL,N,1,29,MALAGA,1,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,2
1808317,9553517,1681276,2015-03-28,1375586,N,ES,H,35,2015-01-12,0,6,1.0,UNKWN,1,A,S,N,UNKWN,KHL,N,1,29,MALAGA,1,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,3
1918371,9606317,2299297,2015-04-28,1375586,N,ES,H,35,2015-01-12,0,6,1.0,UNKWN,1.0,A,S,N,UNKWN,KHL,N,1.0,29.0,MALAGA,1.0,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,4
3024142,9588542,2714121,2015-05-28,1375586,N,ES,H,35,2015-01-12,0,6,1.0,UNKWN,1,A,S,N,UNKWN,KHL,N,1,29,MALAGA,1,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1,5
3351060,9449298,3343336,2015-06-28,1375586,N,ES,H,35,2015-01-12,0,6,1.0,UNKWN,1,A,S,N,UNKWN,KHL,N,1,29,MALAGA,1,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1,6
3945627,9763699,4581564,2015-07-28,1375586,N,ES,H,35,2015-01-12,0,6,1.0,UNKWN,1.0,A,S,N,UNKWN,KHL,N,1,29,MALAGA,1,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1,7
5408964,9766297,5075380,2015-08-28,1375586,N,ES,H,36,2015-01-12,0,7,1.0,UNKWN,1.0,A,S,N,UNKWN,KHL,N,1,29,MALAGA,0,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,8
5970384,9791369,6258167,2015-09-28,1375586,N,ES,H,36,2015-01-12,0,8,1.0,UNKWN,1.0,I,S,N,UNKWN,KHL,N,1,29,MALAGA,0,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,9
6817756,9717095,6572487,2015-10-28,1375586,N,ES,H,36,2015-01-12,0,9,1.0,UNKWN,1.0,I,S,N,UNKWN,KHL,N,1,29,MALAGA,0,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,10
7482058,9671013,7786119,2015-11-28,1375586,N,ES,H,36,2015-01-12,0,10,1.0,UNKWN,1.0,I,S,N,UNKWN,KHL,N,1,29,MALAGA,0,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,11
8141120,9776521,8958911,2015-12-28,1375586,N,ES,H,36,2015-01-12,0,11,1.0,UNKWN,1.0,I,S,N,UNKWN,KHL,N,1,29,MALAGA,0,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,12
9344065,9675666,9319634,2016-01-28,1375586,N,ES,H,36,2015-01-12,0,12,1.0,UNKWN,1.0,A,S,N,UNKWN,KHL,N,1,29,MALAGA,0,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1
10570221,9523386,10165891,2016-02-28,1375586,N,ES,H,36,2015-01-12,0,13,1.0,UNKWN,1.0,A,S,N,UNKWN,KHL,N,1,29.0,MALAGA,0,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,2
11556341,9577749,11058687,2016-03-28,1375586,N,ES,H,36,2015-01-12,0,14,1.0,UNKWN,1.0,A,S,N,UNKWN,KHL,N,1,29,MALAGA,1,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,3
12692016,9507965,12532037,2016-04-28,1375586,N,ES,H,36,2015-01-12,0,15,1.0,UNKWN,1.0,I,S,N,UNKWN,KHL,N,1,29,MALAGA,0,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,4
13298141,9556013,13226584,2016-05-28,1375586,N,ES,H,36,2015-01-12,0,16,1.0,UNKWN,1.0,A,S,N,UNKWN,KHL,N,1,29,MALAGA,1,87218.1,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1,5

In [6]:
display(df.loc[df['ncodpers'] == 1050613])

,Unnamed: 0,index,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,month
391631,13344466,3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0,35,1.0,UNKWN,1,I,S,N,UNKWN,KHD,N,1,50,ZARAGOZA,0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1
1044253,13639507,1243388,2015-02-28,1050613,N,ES,H,22,2012-08-10,0,35,1.0,UNKWN,1,I,S,N,UNKWN,KHD,N,1,50,ZARAGOZA,0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,2
1705254,13613338,1847831,2015-03-28,1050613,N,ES,H,22,2012-08-10,0,35,1.0,UNKWN,1,I,S,N,UNKWN,KHD,N,1,50,ZARAGOZA,0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,3
3777507,13537844,4371721,2015-07-28,1050613,N,ES,H,22,2012-08-10,0,35,1.0,UNKWN,1,I,S,N,UNKWN,KHD,N,1,50.0,ZARAGOZA,0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,7
5254500,13514035,5136573,2015-08-28,1050613,N,ES,H,22,2012-08-10,0,36,1.0,UNKWN,1,I,S,N,UNKWN,KHD,N,1,50,ZARAGOZA,0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,8
5468688,13352273,6053845,2015-09-28,1050613,N,ES,H,23,2012-08-10,0,37,1.0,UNKWN,1,I,S,N,UNKWN,KHD,N,1,50,ZARAGOZA,0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,9
6847004,13522432,6492088,2015-10-28,1050613,N,ES,H,23,2012-08-10,0,38,1.0,UNKWN,1,I,S,N,UNKWN,KHD,N,1,50,ZARAGOZA,0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,10
7328228,13388238,8085367,2015-11-28,1050613,N,ES,H,23,2012-08-10,0,39,1.0,UNKWN,1,I,S,N,UNKWN,KHD,N,1,50,ZARAGOZA,0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,11
8347305,13460550,8187877,2015-12-28,1050613,N,ES,H,23,2012-08-10,0,40,1.0,UNKWN,1,I,S,N,UNKWN,KHD,N,1,50,ZARAGOZA,0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,12
9165785,13494345,9891559,2016-01-28,1050613,N,ES,H,23,2012-08-10,0,41,1.0,UNKWN,1,I,S,N,UNKWN,KHD,N,1,50,ZARAGOZA,0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1
10552370,13387415,10604138,2016-02-28,1050613,N,ES,H,23,2012-08-10,0,42,1.0,UNKWN,1.0,I,S,N,UNKWN,KHD,N,1,50,ZARAGOZA,0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,2
10992924,13466080,11786425,2016-03-28,1050613,N,ES,H,23,2012-08-10,0,43,1.0,UNKWN,1.0,I,S,N,UNKWN,KHD,N,1,50.0,ZARAGOZA,0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,3
11997943,13619646,12445288,2016-04-28,1050613,N,ES,H,23,2012-08-10,0,44,1.0,UNKWN,1.0,I,S,N,UNKWN,KHD,N,1,50,ZARAGOZA,0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,4
12934887,13315584,13431098,2016-05-28,1050613,N,ES,H,23,2012-08-10,0,45,1.0,UNKWN,1.0,I,S,N,UNKWN,KHD,N,1,50,ZARAGOZA,0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,5

   Data for two Customer Ids (1375586 and 1050613) are displayed above. From the corresponding rows, it is evident that for certain customers, data values are missing (for Customer ID:1050613, data for 2015-03-28, 2015-04-28 and 2015-05-28 is not present) for several months. This anomaly can not be rectified.
   
   As from the description of data, <b>fecha_dato</b> depicts the values of date of the month for which the customer record is provided and <b>fecha_alta</b> represents the date in which the customer became as the first holder of a contract in the bank. <b>antiguedad</b> depicts the Customer seniority (in months). It is evident that the difference of <b>fecha_dato</b> and <b>fecha_alta</b> should give the customer seniority (for the last row of previous table difference of 2016-05-28 and 2012-08-10 is 45 months) and hence they seem correlated. But we should not simply discard the column <b>fecha_alta</b>, as the purchasing behavior of a customer may depend on the anniversary of the date he/she has became as the first holder of a contract in the bank. Instead, month value is extracted and saved as <b>join_month</b> from <b>fecha_alta</b> and it is discarded.

In [7]:
# Extract month from fecha_alta

df['joined_month'] = df.apply(lambda row: row.fecha_alta.split('-')[1], axis=1)

In [8]:
# Drop fetch alto
df = df.drop('fecha_alta', axis=1)

In [9]:
df.head()

,Unnamed: 0,index,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,month,joined_month
0,3193878,515488,2015-01-28,816978,N,ES,V,55,0,80,1.0,UNKWN,1,A,S,N,UNKWN,KFF,N,1,39,CANTABRIA,1,67804.53,02 - PARTICULARES,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1,11
1,11981689,461199,2015-01-28,154073,N,ES,V,50,0,187,1.0,UNKWN,1,A,S,N,UNKWN,KAY,N,1,43,TARRAGONA,0,109185.81,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1,12
2,3521925,483294,2015-01-28,739359,N,ES,H,48,0,91,1.0,UNKWN,1,A,S,N,UNKWN,KFC,N,1,14,CORDOBA,1,101850.00,01 - TOP,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0.0,0.0,0,1,12
3,8480398,563229,2015-01-28,482251,N,ES,V,23,0,132,1.0,UNKWN,1,A,S,N,UNKWN,KFC,N,1,28,MADRID,1,131938.74,02 - PARTICULARES,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1,07
4,3521923,107657,2015-01-28,922105,N,ES,H,24,0,48,1.0,UNKWN,1,A,S,N,UNKWN,KHE,N,1,14,CORDOBA,1,41739.18,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1,07

In [10]:
df['sexo'].unique()

array(['V', 'H', 'UNKWN'], dtype=object)

   The values in the column <b>sexo</b> has three unique values as ['H', 'V', 'UNKWN']. The <b>UNKWN</b> values need to be replaced and hence can be replaced with the most frequent value. Finally, values <b>V(Male)</b> and <b>H(Female)</b> is replaced with 0 and 1 respectively.

In [11]:
# Replace UNKWN value of sexo with the mode
mask = df.sexo == 'UNKWN'
df.loc[mask, 'sexo'] = df['sexo'].mode()[0]

In [12]:
# Replacing 0 for V(Male) and 1 for H(Female)
sexo_dictionary = {'V': 0, 'H': 1}
df['sexo'] = df['sexo'].apply(lambda x: sexo_dictionary[x])
df['sexo'].unique()

array([0, 1])

In [13]:
df['ind_empleado'].unique()

array(['N', 'B', 'A', 'F', 'UNKWN', 'S'], dtype=object)

   The values in the column <b>ind_empleado</b>(Employee index) too has <b>UNKWN</b>, which is replaced by <b>N (not employee)</b> and corresponding values are later on changed to numeric data.

In [14]:
# Replace UNKWN value of ind_empleado with N
mask = df.ind_empleado == 'UNKWN'
df.loc[mask, 'ind_empleado'] = 'N'
ind_empleado_dictionary = {'N': 1, 'B': 2, 'F': 3, 'A': 4, 'S': 5}
df['ind_empleado'] = df['ind_empleado'].apply(lambda x: ind_empleado_dictionary[x])
df['ind_empleado'].unique()

array([1, 2, 4, 3, 5])

In [15]:
df.pais_residencia.unique()

array(['ES', 'UNKWN', 'AU', 'FR', 'DE', 'AT', 'EC', 'AR', 'CM', 'GR', 'SE',
       'IT', 'CH', 'IE', 'CU', 'IL', 'UY', 'GA', 'BE', 'CA', 'RO', 'GE',
       'US', 'RU', 'CO', 'MX', 'GB', 'NL', 'AD', 'CI', 'BG', 'VE', 'PE',
       'PL', 'DZ', 'BR', 'PT', 'TH', 'CL', 'KE', 'TR', 'MA', 'UA', 'SK',
       'ZA', 'PA', 'FI', 'DK', 'CD', 'CN', 'PR', 'KR', 'DO', 'GQ', 'EG',
       'HR', 'JP', 'MR', 'NG', 'TN', 'QA', 'HN', 'MD', 'AO', 'BO', 'IN',
       'BY', 'NO', 'PH', 'AE', 'SG', 'PY', 'BZ', 'VN', 'GH', 'CZ', 'HK',
       'LU', 'CR', 'PK', 'LY', 'LT', 'GT', 'NI', 'BA', 'TG', 'SV', 'SA',
       'LB', 'RS', 'KW', 'SN', 'MK', 'ML', 'CG', 'GN', 'TW', 'IS', 'GW',
       'HU', 'EE', 'MZ', 'NZ', 'AL', 'ET', 'LV', 'OM', 'GM', 'MM', 'KZ',
       'KH', 'CF', 'GI', 'SL', 'ZW', 'DJ', 'JM', 'BM', 'MT'], dtype=object)

   Similary the values for <b>pais_residencia (Customer's Country residence)</b> are replaced with corresponding numeric values.

In [16]:
pais_residencia_dictionary = {'UNKWN':0, 'ES':1, 'CA':2, 'CH':3, 'CL':4, 'IE':5, 'AT':6, 'NL':7,
                              'FR':8, 'GB':9, 'DE':10, 'DO':11, 'BE':12, 'AR':13, 'VE':14, 'US':15,
                              'MX':16, 'BR':17, 'IT':18, 'EC':19, 'PE':20, 'CO':21, 'HN':22, 'FI':23,
                              'SE':24, 'AL':25, 'PT':26, 'MZ':27, 'CN':28, 'TW':29, 'PL':30, 'IN':31,
                              'CR':32, 'NI':33, 'HK':34, 'AD':35, 'CZ':36, 'AE':37, 'MA':38, 'GR':39,
                              'PR':40, 'RO':41, 'IL':42, 'RU':43, 'GT':44, 'GA':45, 'NO':46, 'SN':47,
                              'MR':48, 'UA':49, 'BG':50, 'PY':51, 'EE':52, 'SV':53, 'ET':54, 'CM':55,
                              'SA':56, 'CI':57, 'QA':58, 'LU':59, 'PA':60, 'BA':61, 'BO':62, 'AU':63,
                              'BY':64, 'KE':65, 'SG':66, 'HR':67, 'MD':68, 'SK':69, 'TR':70, 'AO':71,
                              'CU':72, 'GQ':73, 'EG':74, 'ZA':75, 'DK':76, 'UY':77, 'GE':78, 'TH':79,
                              'DZ':80, 'LB':81, 'JP':82, 'NG':83, 'PK':84, 'TN':85, 'TG':86, 'KR':87,
                              'GH':88, 'RS':89, 'VN':90, 'PH':91, 'KW':92, 'NZ':93, 'MM':94, 'KH':95,
                              'GI':96, 'SL':97, 'GN':98, 'GW':99, 'OM':100, 'CG':101, 'LV':102, 'LT':103,
                              'ML':104, 'MK':105, 'HU':106, 'IS':107, 'LY':108, 'CF':109, 'GM':110, 'KZ':111,
                              'CD':112, 'BZ':113, 'ZW':114, 'DJ':115, 'JM':116, 'BM':117, 'MT':118}

In [17]:
df['pais_residencia'] = df['pais_residencia'].apply(lambda x: pais_residencia_dictionary[x])
df['pais_residencia'].unique()

array([  1,   0,  63,   8,  10,   6,  19,  13,  55,  39,  24,  18,   3,
         5,  72,  42,  77,  45,  12,   2,  41,  78,  15,  43,  21,  16,
         9,   7,  35,  57,  50,  14,  20,  30,  80,  17,  26,  79,   4,
        65,  70,  38,  49,  69,  75,  60,  23,  76, 112,  28,  40,  87,
        11,  73,  74,  67,  82,  48,  83,  85,  58,  22,  68,  71,  62,
        31,  64,  46,  91,  37,  66,  51, 113,  90,  88,  36,  34,  59,
        32,  84, 108, 103,  44,  33,  61,  86,  53,  56,  81,  89,  92,
        47, 105, 104, 101,  98,  29, 107,  99, 106,  52,  27,  93,  25,
        54, 102, 100, 110,  94, 111,  95, 109,  96,  97, 114, 115, 116,
       117, 118])

In [18]:
# Rectify anomaly in ind_nuevo
mask = df.ind_nuevo == ' 0'
df.loc[mask, 'ind_nuevo'] = '0'
mask = df.ind_nuevo == ' 1'
df.loc[mask, 'ind_nuevo'] = '1'

In [19]:
df['indrel_1mes'].unique()

array([1.0, 3.0, '1.0', '3.0', 'A', 2.0, '2.0', '1', '3', 'P', '2', '4',
       '4.0', 4.0], dtype=object)

In [20]:
# Rectify anomaly in indrel_1mes
indrel_1mes_dictionary = {'A': 0, '1.0': 1, '1': 1, 1.0 : 1, '2.0': 2, '2': 2, 2.0: 2, '3.0': 3, '3': 3, 3.0: 3,
                          '4.0': 4, '4': 4, 4.0: 4, 'P': 5}
df['indrel_1mes'] = df['indrel_1mes'].apply(lambda x: indrel_1mes_dictionary[x])
df['indrel_1mes'].unique()

array([1, 3, 0, 2, 5, 4])

The values for <b>tiprel_1mes (Customer relation type at the beginning of the month)</b>, <b>indresi (Residence index)</b>, <b>indext (Foreigner index)</b>, <b>conyuemp (Spouse index)</b> and <b>indfall (Deceased index)</b> are replaced with corresponding numeric values.

In [21]:
tiprel_1mes_dictionary = {'I': 1, 'A': 2, 'P': 3, 'R': 4, 'N': 5}
indresi_dictionary = {'UNKWN': 0, 'S': 1, 'N': 2}
indext_dictionary = {'UNKWN': 0, 'S': 1, 'N': 2}
conyuemp_dictionary = {'UNKWN': 0, 'S': 1, 'N': 2}
indfall_dictionary = {'S': 1, 'N': 2}
df['tiprel_1mes'] = df['tiprel_1mes'].apply(lambda x: tiprel_1mes_dictionary[x])
df['indresi'] = df['indresi'].apply(lambda x: indresi_dictionary[x])
df['indext'] = df['indext'].apply(lambda x: indext_dictionary[x])
df['conyuemp'] = df['conyuemp'].apply(lambda x: conyuemp_dictionary[x])
df['indfall'] = df['indfall'].apply(lambda x: indfall_dictionary[x])

The values for <b>tipodom (Addres type)</b>, <b>ind_actividad_cliente (Activity index)</b> and <b>segmento (Customer Segmentation)</b> are replaced with corresponding numeric values. The UNKWN values in <b>cod_prov (Province code)</b> is replaced with '0.0' as well. It is evident that Province Code and Province Name (nomprov) are correlated and hence <b>nomprov</b> is dropped. Finally, <b>canal_entrada (Channel used by the customer to join)</b> is replaced with corresponding numeric values.

In [22]:
tipodom_dictionary = {'1.0': 1, 1.0: 1, 'UNKWN': 0}
df['tipodom'] = df['tipodom'].apply(lambda x: tipodom_dictionary[x])
mask = df.cod_prov == 'UNKWN'
df.loc[mask, 'cod_prov'] = '0.0'

In [23]:
ind_actividad_cliente_dictionary = {'UNKWN': 2, '1.0': 1, 1.0:1, '0.0': 0, 0.0:0}
df['ind_actividad_cliente'] = df['tipodom'].apply(lambda x: ind_actividad_cliente_dictionary[x])

In [24]:
segmento_dictionary = {'01 - TOP': 1, '02 - PARTICULARES': 2, '03 - UNIVERSITARIO':3, 'UNKWN': 4}
df['segmento'] = df['segmento'].apply(lambda x: segmento_dictionary[x])

In [25]:
# Drop nomprov
df = df.drop('nomprov', axis=1)

In [26]:
canal_entrada_dictionary =  {'UNKWN': 0,'013': 49, 'KHP': 160, 'KHQ': 157, 'KHR': 161, 'KHS': 162, 'KHK': 10, 'KHL': 0,
                                  'KHM': 12, 'KHN': 21, 'KHO': 13, 'KHA': 22, 'KHC': 9, 'KHD': 2, 'KHE': 1, 'KHF': 19,
                                  '025': 159, 'KAC': 57, 'KAB': 28, 'KAA': 39, 'KAG': 26, 'KAF': 23, 'KAE': 30,
                                  'KAD': 16, 'KAK': 51, 'KAJ': 41, 'KAI': 35, 'KAH': 31, 'KAO': 94, 'KAN': 110,
                                  'KAM': 107, 'KAL': 74, 'KAS': 70, 'KAR': 32, 'KAQ': 37, 'KAP': 46, 'KAW': 76,
                                  'KAV': 139, 'KAU': 142, 'KAT': 5, 'KAZ': 7, 'KAY': 54, 'KBJ': 133, 'KBH': 90,
                                  'KBN': 122, 'KBO': 64, 'KBL': 88, 'KBM': 135, 'KBB': 131, 'KBF': 102, 'KBG': 17,
                                  'KBD': 109, 'KBE': 119, 'KBZ': 67, 'KBX': 116, 'KBY': 111, 'KBR': 101, 'KBS': 118,
                                  'KBP': 121, 'KBQ': 62, 'KBV': 100, 'KBW': 114, 'KBU': 55, 'KCE': 86, 'KCD': 85,
                                  'KCG': 59, 'KCF': 105, 'KCA': 73, 'KCC': 29, 'KCB': 78, 'KCM': 82, 'KCL': 53,
                                  'KCO': 104, 'KCN': 81, 'KCI': 65, 'KCH': 84, 'KCK': 52, 'KCJ': 156, 'KCU': 115,
                                  'KCT': 112, 'KCV': 106, 'KCQ': 154, 'KCP': 129, 'KCS': 77, 'KCR': 153, 'KCX': 120,
                                  'RED': 8, 'KDL': 158, 'KDM': 130, 'KDN': 151, 'KDO': 60, 'KDH': 14, 'KDI': 150,
                                  'KDD': 113, 'KDE': 47, 'KDF': 127, 'KDG': 126, 'KDA': 63, 'KDB': 117, 'KDC': 75,
                                  'KDX': 69, 'KDY': 61, 'KDZ': 99, 'KDT': 58, 'KDU': 79, 'KDV': 91, 'KDW': 132,
                                  'KDP': 103, 'KDQ': 80, 'KDR': 56, 'KDS': 124, 'K00': 50, 'KEO': 96, 'KEN': 137,
                                  'KEM': 155, 'KEL': 125, 'KEK': 145, 'KEJ': 95, 'KEI': 97, 'KEH': 15, 'KEG': 136,
                                  'KEF': 128, 'KEE': 152, 'KED': 143, 'KEC': 66, 'KEB': 123, 'KEA': 89, 'KEZ': 108,
                                  'KEY': 93, 'KEW': 98, 'KEV': 87, 'KEU': 72, 'KES': 68, 'KEQ': 138, -99: 6, 'KFV': 48,
                                  'KFT': 92, 'KFU': 36, 'KFR': 144, 'KFS': 38, 'KFP': 40, 'KFF': 45, 'KFG': 27,
                                  'KFD': 25, 'KFE': 148, 'KFB': 146, 'KFC': 4, 'KFA': 3, 'KFN': 42, 'KFL': 34,
                                  'KFM': 141, 'KFJ': 33, 'KFK': 20, 'KFH': 140, 'KFI': 134, '007': 71, '004': 83,
                                  'KGU': 149, 'KGW': 147, 'KGV': 43, 'KGY': 44, 'KGX': 24, 'KGC': 18, 'KGN': 11}

In [27]:
df['canal_entrada'] = df['canal_entrada'].apply(lambda x: canal_entrada_dictionary[x])

In [ ]:
df.to_csv("train_final.csv", sep=',', encoding='utf-8')