In [1]:
# coding: utf-8
import pandas as pd
import numpy as np

In [2]:
data_type = {
             "ult_fec_cli_1t": str,
             }
class_label_columns = ['ind_ahor_fin_ult1',         # Saving Account
                       'ind_aval_fin_ult1',         # Guarantees
                       'ind_cco_fin_ult1',          # Current Accounts
                       'ind_cder_fin_ult1',         # Derivada Account
                       'ind_cno_fin_ult1',          # Payroll Account
                       'ind_ctju_fin_ult1',         # Junior Account
                       'ind_ctma_fin_ult1',         # MÃ¡s particular Account
                       'ind_ctop_fin_ult1',         # particular Account
                       'ind_ctpp_fin_ult1',         # particular Plus Account
                       'ind_deco_fin_ult1',         # Short-term deposits
                       'ind_deme_fin_ult1',         # Medium-term deposits
                       'ind_dela_fin_ult1',         # Long-term deposits
                       'ind_ecue_fin_ult1',         # e-account
                       'ind_fond_fin_ult1',         # Funds
                       'ind_hip_fin_ult1',          # Mortgage
                       'ind_plan_fin_ult1',         # Pensions
                       'ind_pres_fin_ult1',         # Loans
                       'ind_reca_fin_ult1',         # Taxes
                       'ind_tjcr_fin_ult1',         # Credit Card
                       'ind_valo_fin_ult1',         # Securities
                       'ind_viv_fin_ult1',          # Home Account
                       'ind_nomina_ult1',           # Payroll
                       'ind_nom_pens_ult1',         # Pensions
                       'ind_recibo_ult1'            # Direct Debit
                       ]

In [3]:
df = pd.read_csv("train_final.csv", dtype=data_type, keep_default_na=False)

MemoryError:

In [4]:
pd.set_option('display.max_columns', None)
df.head()

,Unnamed: 0,Unnamed: 0.1,index,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,month,joined_month
0,0,3193878,515488,2015-01-28,816978,1,1,0,55,0,80,1.0,UNKWN,1,2,1,2,0,45,2,1,39.0,1,67804.53,2,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1,11
1,1,11981689,461199,2015-01-28,154073,1,1,0,50,0,187,1.0,UNKWN,1,2,1,2,0,54,2,1,43.0,1,109185.81,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1,12
2,2,3521925,483294,2015-01-28,739359,1,1,1,48,0,91,1.0,UNKWN,1,2,1,2,0,4,2,1,14.0,1,101850.00,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0.0,0.0,0,1,12
3,3,8480398,563229,2015-01-28,482251,1,1,0,23,0,132,1.0,UNKWN,1,2,1,2,0,4,2,1,28.0,1,131938.74,2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1,7
4,4,3521923,107657,2015-01-28,922105,1,1,1,24,0,48,1.0,UNKWN,1,2,1,2,0,1,2,1,14.0,1,41739.18,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1,7

In [5]:
df = df[df['fecha_dato'].isin(['2015-05-28', '2015-06-28', '2016-05-28', '2016-06-28'])]
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

cols = ['ind_nomina_ult1', 'ind_nom_pens_ult1', 'indrel','cod_prov']
df[cols] = df[cols].applymap(np.int64)

del df['ult_fec_cli_1t']

In [6]:
df['antiguedad'] = df['antiguedad'].astype(str)
df['antiguedad'] = df['antiguedad'].map(lambda x: x.strip())
df.loc[df['antiguedad'] == 'NA', 'antiguedad'] = 0
df[['antiguedad']] = df[['antiguedad']].apply(pd.to_numeric)
pd.to_numeric(df['antiguedad'])

2512427     103
2512428      42
2512429     184
2512430      12
2512431      40
2512432      94
2512433      43
2512434      21
2512435      18
2512436      41
2512437      12
2512438      16
2512439      24
2512440      34
2512441      12
2512442      23
2512443      12
2512444      12
2512445      94
2512446      10
2512447      12
2512448      23
2512449       9
2512450      10
2512451     138
2512452     127
2512453      12
2512454     172
2512455      80
2512456     118
           ...
13647279    150
13647280    150
13647281    150
13647282    150
13647283    144
13647284    150
13647285    150
13647286    150
13647287    151
13647288    151
13647289    184
13647290    112
13647291    150
13647292    150
13647293    150
13647294    150
13647295    150
13647296    150
13647297    151
13647298    151
13647299    151
13647300    150
13647301     60
13647302    151
13647303     20
13647304    151
13647305    151
13647306    151
13647307    150
13647308     45
Name: antiguedad, dtype: int64

In [7]:
x_05_2015 = df.loc[df['fecha_dato'] == '2015-05-28']
x_06_2015 = df.loc[df['fecha_dato'] == '2015-06-28']
del x_05_2015['fecha_dato']
del x_06_2015['fecha_dato']
del x_05_2015['ind_ahor_fin_ult1']
del x_05_2015['ind_aval_fin_ult1']
del x_06_2015['ind_ahor_fin_ult1']
del x_06_2015['ind_aval_fin_ult1']

In [8]:
product_labels = ['ind_cco_fin_ult1', 'ind_cder_fin_ult1', 'ind_cno_fin_ult1',
               'ind_ctju_fin_ult1', 'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1', 'ind_deco_fin_ult1',
               'ind_deme_fin_ult1', 'ind_dela_fin_ult1', 'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
               'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1', 'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1',
               'ind_viv_fin_ult1', 'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1']

In [9]:
x_05_2015 = x_05_2015[x_05_2015['ncodpers'].isin(x_06_2015['ncodpers'])]
x_06_2015 = x_06_2015[x_06_2015['ncodpers'].isin(x_05_2015['ncodpers'])]

In [10]:
x_05_2015.set_index('ncodpers', inplace=True)
x_06_2015.set_index('ncodpers', inplace=True)
del x_05_2015['index']
del x_06_2015['index']

In [11]:
products_05 = x_05_2015[product_labels]
products_06 = x_06_2015[product_labels]
temp = products_06 - products_05

In [12]:
product_labels_dict = {'ind_cco_fin_ult1': 1,
                       'ind_cder_fin_ult1': 2,
                       'ind_cno_fin_ult1': 3,
                       'ind_ctju_fin_ult1': 4,
                       'ind_ctma_fin_ult1': 5,
                       'ind_ctop_fin_ult1': 6,
                       'ind_ctpp_fin_ult1': 7,
                       'ind_deco_fin_ult1': 8,
                       'ind_deme_fin_ult1': 9,
                       'ind_dela_fin_ult1': 10,
                       'ind_ecue_fin_ult1': 11,
                       'ind_fond_fin_ult1': 12,
                       'ind_hip_fin_ult1': 13,
                       'ind_plan_fin_ult1': 14,
                       'ind_pres_fin_ult1': 15,
                       'ind_reca_fin_ult1': 16,
                       'ind_tjcr_fin_ult1': 17,
                       'ind_valo_fin_ult1': 18,
                       'ind_viv_fin_ult1': 19,
                       'ind_nomina_ult1': 20,
                       'ind_nom_pens_ult1': 21,
                       'ind_recibo_ult1': 22
                      }

In [13]:
temp.head()

,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
ncodpers,,,,,,,,,,,,,,,,,,,,,,
15889,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15890,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15892,1,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15893,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15894,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [14]:
temp[temp < 0] = 0
temp.head()
x_list = []
y_list = []

In [15]:
for i, row in temp.iterrows():
    nonzero_tuple = row.nonzero()
    if len(nonzero_tuple[0]) > 0:
        x = x_05_2015.loc[[i]].values.tolist()
        for p in nonzero_tuple[0]: 
            x_list.append(x)
            y_list.append(p)

In [16]:
print len(x_list)
print len(y_list)

41745
41745

In [17]:
df_test = pd.read_csv("test_final.csv", dtype=data_type, keep_default_na=False)

/Users/amitrajan/Desktop/PythonVirtualEnvs/MLProject/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
df_test['cod_prov'] = df_test['cod_prov'].astype(str)
df_test['cod_prov'] = df_test['cod_prov'].map(lambda x: x.strip())
df_test.loc[df_test['cod_prov'] == 'NA', 'cod_prov'] = 0
df_test[['cod_prov']] = df_test[['cod_prov']].apply(pd.to_numeric)

In [19]:
df_test = df_test.loc[:, ~df_test.columns.str.contains('^Unnamed')]

del df_test['ult_fec_cli_1t']
print df_test.dtypes

index                      int64
fecha_dato                object
ncodpers                   int64
ind_empleado               int64
pais_residencia            int64
sexo                       int64
age                        int64
ind_nuevo                  int64
antiguedad                 int64
indrel                     int64
indrel_1mes                int64
tiprel_1mes                int64
indresi                    int64
indext                     int64
conyuemp                   int64
canal_entrada              int64
indfall                    int64
tipodom                    int64
cod_prov                   int64
ind_actividad_cliente      int64
renta                    float64
segmento                   int64
month                      int64
joined_month               int64
dtype: object

In [20]:
del df_test['fecha_dato']

In [21]:
print df_test.dtypes

index                      int64
ncodpers                   int64
ind_empleado               int64
pais_residencia            int64
sexo                       int64
age                        int64
ind_nuevo                  int64
antiguedad                 int64
indrel                     int64
indrel_1mes                int64
tiprel_1mes                int64
indresi                    int64
indext                     int64
conyuemp                   int64
canal_entrada              int64
indfall                    int64
tipodom                    int64
cod_prov                   int64
ind_actividad_cliente      int64
renta                    float64
segmento                   int64
month                      int64
joined_month               int64
dtype: object

In [22]:
x_05_2016 = df.loc[df['fecha_dato'] == '2016-05-28']
del x_05_2016['fecha_dato']
del x_05_2016['ind_ahor_fin_ult1']
del x_05_2016['ind_aval_fin_ult1']
x_05_2016.set_index('ncodpers', inplace=True)
del x_05_2016['index']

In [23]:
x_05_2016.head()

,ind_empleado,pais_residencia,sexo,age,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,ind_actividad_cliente,renta,segmento,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,month,joined_month
ncodpers,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1502677,1,1,0,26,0,6,1,1,2,1,2,0,21,2,1,50,1,101850.00,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,5,11
1310928,1,1,1,39,0,20,1,1,2,1,1,0,4,2,1,8,1,81440.79,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,5,9
1077364,1,1,0,31,0,43,1,1,1,1,2,0,4,2,1,8,1,101850.00,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,10
1046133,1,1,0,24,0,45,1,1,2,1,2,0,1,2,1,8,1,108495.72,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,5,8
1279472,1,1,1,21,0,22,1,1,1,1,2,0,1,2,1,8,1,211737.96,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,7

In [24]:
df_test.set_index('ncodpers', inplace=True)
del df_test['index']
df_test.head()

,ind_empleado,pais_residencia,sexo,age,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,ind_actividad_cliente,renta,segmento,month,joined_month
ncodpers,,,,,,,,,,,,,,,,,,,,,
516101,1,17,1,42,0,136,1,1,1,2,1,0,84,2,1,0,1,101490.51,2,6,2
286676,1,1,0,39,0,176,1,1,2,1,2,0,5,2,1,28,1,378972.30,2,6,10
286679,1,1,1,38,0,176,1,1,2,1,2,0,5,2,1,28,1,378972.30,2,6,10
1094442,1,1,0,24,0,31,1,1,2,1,2,0,1,2,1,28,1,119561.40,3,6,11
286614,1,1,0,45,0,167,1,1,2,1,2,0,5,2,1,28,1,343650.03,1,6,7

In [25]:
ll = [0] * len(df_test.index)
print len(ll)

929615

In [26]:
idx = 19
listofzeros = [0] * len(df_test.index)
for ind, val in enumerate(product_labels):
    df_test.insert(loc=idx, column=val, value=listofzeros)
    idx += 1

In [27]:
df_test[product_labels] = df_test[product_labels].applymap(np.int64)tse
df_test.loc[df_test.index.isin(x_05_2016.index.values), product_labels] = x_05_2016[product_labels]

In [28]:
temp = df_test.values.tolist()
print len(temp)

929615

In [29]:
print temp[0]

[1.0, 17.0, 1.0, 42.0, 0.0, 136.0, 1.0, 1.0, 1.0, 2.0, 1.0, 0.0, 84.0, 2.0, 1.0, 0.0, 1.0, 101490.51, 2.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 6.0, 2.0]

In [30]:
X_test = np.array(temp)
X_train = np.array(x_list)
Y_train = np.array(y_list)

In [31]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)

(41745, 1, 43)
(41745,)
(929615, 43)

In [46]:
np.savetxt("X_test.csv", X_test, delimiter=",", fmt='%i')

In [44]:
np.savetxt("X_train.csv", X_train.reshape(41745, 43), delimiter=",", fmt='%i')

In [47]:
np.savetxt("Y_train.csv", Y_train.reshape(41745, 1), delimiter=",", fmt='%i')